:root {
    --ultimate-white:#FFFFFF;
    --dark-bcg:#2E2F42;
    --modal-bcg:#FCFCFC;
    --accent-color:#E7E9FC;
    --body-text:#434455;
    --secondary-text:#8E8F99;
    --headings-color:#2E2F42;
    --brand-color:#4D5AE5;
    --success-color:#31D0AA;
    --light-mode-bcg:#F4F4FD;
    --hover-color:#404BBF;

    /* other */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
    background-color: #FFFFFF;
}


.logo,
.footer-logo{
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brand-color);
}
.logo-accent {
    color: var(--headings-color)
}
/* Reset Start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}
button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}
/* Reset End */
.container {
    min-width: 320px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    

    /* outline: 2px solid red;
        outline-offset: -2px; */
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
    .container {
        max-width: 396px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;

    }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media only screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
            margin-left: auto;
            margin-right: auto;
    
    }}



/* Header */
.header{
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.logo{
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 22px;
margin-right: 76px
}
.header-nav-list{
    display: flex;
    align-items: center;
    padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
}
@media only screen and (max-width: 767px) {
    .header-nav-list,
    .address-link {
        display: none;
    }}

.address-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.nav-link{
    position:relative;

    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--headings-color);
    align-items: center;

    transition: color var(--animation);
}
@media only screen and (min-width: 768px) and (max-width:1157px){
    
.address-list{
    gap: 12px;
}
}
a.nav-link:hover, 
a.nav-link:focus,
.address-hover:hover,
.address-hover:focus{
    color: var(--hover-color);
}
a.nav-link::after{
    content: "";
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -4px;

    position: absolute;

    border-radius: 2px;

    transition: background-color var(--animation);
}
a.nav-link.current{
color: var(--hover-color);
}
a.nav-link:hover::after,
a.nav-link:focus::after,
a.nav-link.current::after{
background-color: var(--hover-color)
}

.address-link{
text-decoration: none;
font-style: normal;

}
.address-hover{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text);
padding-top: 24px;
padding-bottom: 24px;

transition: color var(--animation);
}
@media only screen and (min-width: 1158px){
    .header-container{
        max-width: 1190px;
        padding: 0 16px;
    }
    .address-list {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    
        .address-item {
            padding-top: 24px;
        padding-bottom: 24px;
        }
}

/* Hero */
.hero{
    
    margin-left: auto;
margin-right: auto;
text-align: center;
padding-top: 112px;
    padding-bottom: 112px;

    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 427px) {
    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-mob.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-mob@2x.jpg);
        }
    }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-tab@2x.jpg);
        }
    }
}
@media only screen and (min-width: 768px) {
    .hero {
        background-size: 1440px 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-desc.jpg);

            
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-desc@2x.jpg);
        }
    }
}
@media only screen and (min-width: 1158px){
    .hero-container{
    max-width: 1190px;
        padding: 0 16px;
    }
    .hero{
        padding-top: 188px;
                padding-bottom: 188px;
    }
}

.hero-text{
max-width: 496px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--ultimate-white);
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
            .hero-text {
                margin-bottom: 36px;
                font-size: 56px;
        line-height: 1.07;
            }
        }
@media only screen and (min-width: 1158px) {
    .hero-text {
        margin-bottom: 48px;
    }
}

.main-button{
display: block;
position: relative;
 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

margin-right: auto;
margin-left: auto;
min-width: 169px;
min-height: 56px;

color: var(--ultimate-white);
background-color: var(--brand-color);
font-family: "Roboto", sans-serif;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
    
transition: background-color var(--animation);
}
.main-button:hover,
.main-button:focus{
    background-color: var(--hover-color);
}
/* Features */
.features{
    display: flex;
    
    padding-top: 96px;
    padding-bottom: 96px;
}
@media only screen and (max-width: 767px){
.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.features-list{
    max-width:396px;
}
}

@media only screen and (min-width: 1158px) {
    .features-container {
        max-width: 1190px;
        padding: 0 16px;
    }
.features {
        padding-top: 120px;
            padding-bottom: 120px;
    }
}
.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-mode-bcg);
        border-radius: 4px;
        padding: 24px 100px;
        margin-bottom: 8px;
}
@media only screen and (max-width:1157px) {
 .svg-container{
    display: none;
 }
    
}
.features-icon{
display: flex;
justify-content: center;
    align-items: center;
}
.features-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.features-title{
    text-align: center;
    margin-bottom: 8px;

    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--headings-color);
}

.features-text{
    font-weight: 500;
        line-height: 1.5;
}
@media only screen and (min-width: 768px) and (max-width: 1157px){
    .features-container{
        display: flex;
        justify-content: center;
    align-content: center;
    }
.features-list-item{
    flex-basis: calc((100% - 24px) / 2);
    margin-right: 24px;
    margin-bottom: 72px;
}
.features-list-item:nth-child(even) {
    margin-right: 0;
}

.features-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
}
.features-list{
    
    gap: 0;
    max-width: 736px;
}
.features-title{
    display: flex;
    justify-content: flex-start;
} }
@media only screen and (min-width: 1158px){
    .features-list-item {
        flex-basis: calc((100% - 24px*3) / 4);
    
    }
    .features-list {
        gap: 24px;
    }

    .features-title {
        display: flex;
        justify-content: flex-start;
    }
    .features-container{
        padding-left: 0;
            padding-right: 0;
    }
.features-text {
    font-weight: 400;
}
}



@media only screen and (min-width: 1158px) {
.team-title,
.project-title,
.features-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color:var(--headings-color);
letter-spacing: 0.02em
}}

/* What are we doing */
@media only screen and (max-width: 1157px) {
.apps-section{
    display: none;
}
}
.apps-section{
    padding-bottom: 120px;
}
.apps-container{
    display: flex;
    flex-direction: column;
    max-width: 1190px;
        padding: 0 16px;
}

.apps-title{
    margin-bottom: 72px;

}
  .apps-list{
display: flex;
flex-direction: row;
justify-content: center;
gap: 24px;
  }  

/* Our team */
.team-section{
    background-color: var(--light-mode-bcg);
    padding: 96px 0;
}
@media only screen and (min-width: 1158px){
    .team-section{
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: var(--brand-color);
    border-radius: 50%;

    transition: background-color var(--animation) ;
}
.socials-icon {
    fill: var(--light-mode-bcg);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--hover-color);
}



.team-section-title{
    margin-bottom: 72px;
}
.team-cards{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 72px;

}

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--headings-color)
}

.team-card{
    background-color: var(--ultimate-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-title{
    text-align: center;
    margin-bottom: 8px;
}
.team-text{
    font-size: 16px;
text-align: center;
margin-bottom: 8px;
}
.card-wrapper{
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}

@media only screen and (max-width: 767px) {
    .team-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .team-cards {
        width: 264px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1158px) {
    .team-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 584px;
            padding: 0 16px;
    }
  .team-cards{
    width:552px;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
        }
@media only screen and (min-width: 1158px) {
    .team-container{
        max-width: 1190px;
            padding: 0 16px;
    }
    .team-cards {
        gap: 24px;
        flex-wrap: nowrap;
    }
}
/* Customers */
.customers {
    padding: 96px 0;
}
.customers-title{
    margin-bottom: 72px;
    line-height: 1.1;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.customers-list-item{
    height: 88px;
}
.customers-link{
    display: flex;
    position: relative;
    
    
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
        
    color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
    border-radius: 4px; 
    transition: color var(--animation), border var(--animation);
}
@media only screen and (max-width: 767px){
    .customers-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    .customers-list {
            max-width: 396px;
        }
.customers-list-item {
    position: relative;
    flex-basis: calc((100% - 16px) / 2);

    margin-bottom: 72px;
    margin-right: 16px;
}
.customers-list-item:nth-child(even){
    margin-right: 0;
}
.customers-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
}}
@media only screen and (min-width: 768px) and (max-width: 1157px){
    .customers-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            max-width: 584px;
                padding: 0 16px;
        }
    .customers-list{
        width: 552px;
    }
    .customers-list-item{
    flex-basis: calc((100% - 24px*2) / 3);
    
        margin-bottom: 72px;
        margin-right: 24px;
    }
        .customers-list-item:nth-child(3n) {
            margin-right: 0;
        }
    
        .customers-list-item:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
@media only screen and (min-width: 1158px) {
    .customers-container{
            padding: 0 16px;
    }
    .customers{
        padding: 120px 0;
    }
.customers-list-item {
        flex-basis: calc((100% - 24px*5) / 6);

        margin-bottom: 0px;
        margin-right: 24px;
        padding-left: 0;
            padding-right: 0;
    }
    .customers-list-item:nth-last-child(-n + 1){
        margin-right: 0;
    }
}

.customers-icon{
    fill: currentColor;
}
.customers-link:hover,
.customers-link:focus{
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}
/* Portfolio */
.portfolio-section{
    padding: 96px 0 120px;
}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    padding: 12px 24px;
    gap: 24px;
}
.filter{
    position: relative;
    align-items: center;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px 12px;

    color: var(--brand-color);
    background-color: var(--light-mode-bcg);
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 4px;

    transition: color var(--animation), background-color var(--animation), border var(--animation), box-shadow var(--animation) ;
        
}
.filter:hover,
.filter:focus,
.filter:active{
    color: var(--ultimate-white);
    background-color: var(--hover-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-basis: calc((100%-24px*6)/9);
    padding-left: 0;

    
}
.portfolio-list-item {
    display: inline-block;

}
.portfolio-box{
    position: relative;
        overflow: hidden;
}
.overlay {
    position: absolute;
    
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    
    display: flex;
    background-color: var(--brand-color);
    transition: transform var(--animation);
}
.overlay-text{
    position: relative;
    color: var(--light-mode-bcg);
    font-size: 16px;
    padding: 40px 32px 164px 32px;
}
.portfolio-link{
    display: block;
    font-size: 20px;
    color: var(--headings-color);
    transition: box-shadow var(--animation);
}
.portfolio-link:hover,
.portfolio-link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translateY(0);
}
.portfolio-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--body-text);
}
.portfolio-wrapper{
    border: 1px solid var(--accent-color);
    border-top: none;
    padding: 32px 16px;
    border-radius: 0;
}
.project-title{
    margin-bottom: 8px;}

/* Footer */
.footer{
    background-color: var(--dark-bcg);
    padding-top: 96px;
        padding-bottom: 96px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    
.logo-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 72px;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
}
.logo-light{
    color: var(--light-mode-bcg);
}
.text-footer{
color: var(--light-mode-bcg);
width: 268px;
}
.socials-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 72px;
}
.footer-title{
    display: flex;
    color: var(--ultimate-white);
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
}
.socials-footer{
    display: flex;
    gap:16px;
}
.socials-footer-link {
    display: flex;
align-items: center;
justify-content: center;
    width: 40px;
    height: 40px;

    background-color: var(--brand-color);
    border-radius: 50%;

    transition: background-color var(--animation);
}
.socials-footer-icon {
    fill: var(--light-mode-bcg);
}
.socials-footer-link:hover,
.socials-footer-link:focus {
    background-color: var(--success-color);
}
.sub-form{
    width: 100%;
}
.sub-container {
display: flex;   
flex-direction: column;
color: var(--ultimate-white);
position: relative;

}
.sub-input-container{
    display: flex;
    flex-direction: column;
    
}
.sub-title {
text-align: center;
    margin-bottom: 16px; 
    font-weight: 500;
}
.sub-input{
    border: 1px solid var(--ultimate-white);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        color: var(--ultimate-white);
        font-size: 12px;
        margin-bottom: 16px;

        width: 100%;
        height: 40px;
        padding-left: 16px;

        
}
.sub-input::placeholder {
    display: flex;
    align-items: center;

    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--ultimate-white);

}
.sub-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    width: 165px;
    height: 40px;
    margin: 0 auto;

    background: var(--brand-color);
    color: var(--ultimate-white);
    border: 1px transparent;
    border-radius: 4px;

    transition: background-color var(--animation);
             
}
.sub-button:hover,
.sub-button:focus {
    background-color: var(--hover-color);
        }


@media only screen and (min-width: 428px) and (max-width: 767px) {
.sub-input{
    width: 396px;
}
.text-footer{
    width: 268px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
   .footer-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;

    max-width: 584px;
        padding: 0 16px;
  }
  .footer-logo{
    text-align: left;
  }
  .text-footer{
    width: 264px;
  }
  .logo-text-container{
    margin-right: 24px;
  }
  .footer-title {
      justify-content: start;
  }
.sub-title {
    text-align: left;
}
  .sub-input-container{
    flex-direction: row;
  }
.sub-input {
    min-width: 264px;

    margin-right: 24px;
}
.socials-container{
    margin-bottom: 0;
}
} 
@media only screen and (min-width: 1158px) {
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: baseline; 
max-width: 1190px;
    padding: 0 16px;
    }

    .footer-logo {
        text-align: left;
    }
    .logo-text-container {
        margin-right: 120px;
        margin-bottom: 0;
    
    }
.text-footer{
    letter-spacing: normal;
}

.socials-container {
    margin-right: 80px;
    margin-bottom: 0;
}
.footer-title{
    justify-content: start;
}
    .sub-title {
        text-align: left;
    }

    .sub-input-container {
        flex-direction: row;
    }

    .sub-input {
        min-width: 264px;
        margin-right: 24px;
        margin-bottom: 0;
    
    }
}
/* Modal Styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 400ms;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    max-height: 100%;
        overflow-y: auto;

    /* width: 392px;
    min-height: 550px; */
    padding: 72px 24px 24px 24px;

    background-color: var(--modal-bcg);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform var(--animation), opacity var(--animation);
}
@media only screen and (max-width: 427px){
    .modal{
        width: 320px;
        padding: 72px 16px 24px 16px;
    }

}
@media only screen and (min-width: 428px) and (max-width: 767px) {
    .modal{
    width: 392px;

    }}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
.modal{
    width: 408px;
}
}
@media only screen and (min-width: 1158px) {
.modal {
        width: 408px;}
    }


.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height:24px;

    fill: var(--dark-bcg);

    background-color: var(--accent-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: background-color var(--animation) fill var(--animation);
}
.modal-close-button:hover,
.modal-close-button:focus{
background-color: var(--hover-color);
fill: var(--ultimate-white);
}

.modal-title {
    color: var(--dark-bcg);
    display: block;
    text-align: center;

    font-weight: 500;
}

.modal-label-text{
    margin-bottom: 4px;

    font-size: 12px;
        line-height: 1,17;
        letter-spacing: 0.04em;
        color: var(--secondary-text);
}

.modal-form-field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
}


.modal-form-input {
    
    height: 40px;
    width: 100%;
    
    color: var(--headings-color);
    font-size: 12px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    outline: 2px solid transparent;
    outline-offset: -2px;

    padding: 11px 0 11px 38px;

    transition: border-color var(--animation);
}
.modal-form-input:focus{
    border-color: var(--brand-color);
}
.modal-form-input:focus+.modal-form-icon {
    fill: var(--brand-color);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left:16px;
    transform: translateY(-50%);

    pointer-events: none;

    transition: fill var(--animation);
}
.modal-label-message{
    font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: var(--secondary-text);

        margin-bottom: 4px;
}

.modal-form-message {
    color: var(--headings-color);
    font-size: 12px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    outline: 2px solid transparent;
        outline-offset: -2px;

    width: 100%;
    height: 120px;

    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 16px;

    resize: none;

    transition: border-color var(--animation);
}
.modal-form-message::placeholder{
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
}
.modal-form-message:focus {
    border-color: var(--brand-color);
}

.modal-form-agreement {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 360px;
    margin-right: 8px;
    margin-bottom: 24px;  
}
.modal-form-agreement-box{
    appearance: none;
    position: relative;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        width: 16px;
        height: 16px;
        background-color: var(--ultimate-white);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        transition: border var(--animation), background-color var(--animation);
        cursor: pointer;
}
.modal-form-agreement-box:checked,
.modal-form-agreement-box:focus
{
    border: transparent;
    background-color: var(--hover-color);
    
}
.modal-form-agreement-box:checked+.modal-check-icon,
.modal-form-agreement-box:focus+.modal-check-icon{
  opacity: 1;
}
.modal-check-icon{
    opacity: 0;
    position: relative;
    top: 0;
    right: 13px;
    transition: opacity var(--animation);
}

.modal-form-agreement-text {
    font-size: 12px;
    color: var(--secondary-text);
    letter-spacing: 0.04em;
}

.modal-form-agreement-link {
    color: var(--brand-color);
}

.modal-button {
    display: block;
    margin: 0 auto;
    width: 169px;
    height: 56px;

    background-color: var(--brand-color);
    color: var(--ultimate-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;

    transition: background-color var(--animation);
}
.modal-button:hover,
.modal-button:focus{
    background-color: var(--hover-color);
}
 /* Menu-burger */
 .menu-toggle {
     height: 24px;
     width: 24px;
     display: flex;
     align-items: center;
     justify-content: center;

     margin: 0;
     padding: 0;
     background-color: transparent;
     cursor: pointer;
     border: none;
     outline: none;
 }

 @media (min-width: 768px) {
     .menu-toggle {
         display: none;
     }
 }
.menu-toggle-close{
    position: absolute;
    top: 24px;
    right: 24px;

    fill: var(--dark-bcg);

    border-radius: 50%;
    border: 1px solid var(--accent-color);

    cursor: pointer;
}

 .menu-toggle-icon:hover,
 .menu-toggle-icon:focus {
     stroke: var(--hover-color);
 }

 .menu-toggle-icon {
     stroke: var(--dark-bcg);

     transition: stroke var(--animation);
 }
 .menu-container {
     position: fixed;
     top: 0;
     left: 0;

     display: flex;
     flex-direction: column;

     width: 100vw;
     height: 100vh;
     padding: 80px 35px 40px 40px;
     background-color: var(--ultimate-white);
     z-index: 999;

     transform: translateX(100%);
     transition: transform var(--animation);
 }

 .menu-container.is-open {
     transform: translateX(0);
 }

 .menu-container .menu-toggle {
     position: absolute;
     top: 16px;
     right: 16px;
 }
 .mobile-menu {
     list-style: none;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
        display: flex;
        flex-direction: column;
        gap: 40px;

     margin-bottom: auto;
 }

 .mobile-menu .link {
     display: block;
     text-decoration: none;
     color: var(--headings-color);

     transition: color var(--animation);
 }
 .mobile-menu .link.current {
     color: var(--hover-color);
 }
.mobile-menu .link:hover,
.mobile-menu .link:focus{
    color: var(--hover-color);
}
 .mobile-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
     margin-bottom: 48px;
     color: var(--body-text);
 }
 .mobile-contacts-link{
    color: inherit;
 }
.mobile-contacts-tel{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color);
}
.mobile-contacts-mail{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
 .mobile-socials {
     display: flex;
     gap: 56px ;
 }
 @media (max-width: 427px){
.mobile-socials{
    gap: 38px;
}
 }
 
 /* @media only screen and (min-width: 428px) and (max-width: 767px) {
     .container {
         max-width: 768px;
         margin-left: auto;
         margin-right: auto;

     }
 }

 @media only screen and (min-width: 768px) and (max-width: 1157px) {
     .container {
         max-width: 768px;
         margin-left: auto;
         margin-right: auto;

     }
 }

 @media only screen and (min-width: 1158px) {
     .container {
         max-width: 1158px;
         margin-left: auto;
         margin-right: auto;

     }
 } */